@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.consoles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid $font-color;
    padding: 1rem;
    list-style: none;

    @media (max-width: 830px) {
        gap: 0.5rem;
        padding: 0.5rem;
    }

    &__consoleContainer {
        display: grid;
        gap: 0.8rem;
    }

    &__playAndXboxLink--on {
        @include btnOn($play-color);
    }

    &__playAndXboxLink--off {
        @include btnOff(linear-gradient(to right, $playAndXbox-color));
    }

    &__playLink--on {
        @include btnOn($play-color);
    }

    &__playLink--off {
        @include btnOff($play-color);
    }

    &__xboxLink--on {
        @include btnOn($xbox-color);
    }

    &__xboxLink--off {
        @include btnOff($xbox-color);
    }

    &__lists {
        list-style: none;
        display: grid;
        gap: 0.8rem;
        margin-left: 2rem;

        @media (max-width: 830px) {
            gap: 0.5rem;
        }
    }

    &__li {
        display: flex;
        gap: 0.5rem;
    }
    &__radio {
        &:hover {
            cursor: pointer;
        }
    }
    &__label {
        &:hover {
            cursor: pointer;
        }
    }
}

.newOrUsedContainer {
    @extend .consoles;

    &__li {
        display: flex;
        gap: 1rem;
    }

    &__radio {
        &:hover {
            cursor: pointer;
        }
    }

    &__label {
        &:hover {
            cursor: pointer;
        }
    }
}

.search {
    @extend .consoles;

    @media (max-width: 830px) {
        flex-direction: row;
    }

    &__inputContainer {
        @media (max-width: 830px) {
            flex-grow: 1;
            background-color: #000;
        }
    }

    &__input {
        @include borderInput();
        width: 100%;
    }

    &__labelContainer {
        text-align: center;
    }

    &__submitContainer {
        display: flex;
        justify-content: flex-end;
    }

    &__submit {
        @include btnOutlined($font-color, $bg-color);
    }
}

.linkToPost {
    @include btnOutlined($font-color, $bg-color);
}
