@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.postGame{
  width: 100%;
  display: grid;
  place-items: center;
  background-color: $bg-color;
  color: $font-color;
  padding: 1.5rem;
  gap: 2rem;

  &__backToMain{
    color: $font-color;
    opacity: .7;
    
    &:hover{
      opacity: 1;
    }
  }

  &__form{
    width: 35%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid grey;
    border-radius: 4px;
    
    @media (max-width:1080px){
      width: 50%; 
    }

    @media (max-width:830px){
      width: 60%; 
    }

    @media (max-width:650px){
      width: 75%; 
    }

    @media (max-width:480px){
      width: 90%; 
      padding: .7rem;
    }
  }

  &__imgContainer{
    border: 2px dotted grey;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    opacity: .8;
    
    &:hover{
      opacity: 1;
      cursor: pointer;
      border: 3px dashed grey;
    }

    @media (max-width:830px){
      height: 300px;
    }
  }

  &__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__file{
    font-family: inherit;

    &:hover{
      cursor: pointer;
    }
  }

  &__labelInputText,
  &__labelConsoleType,
  &__labelGameState,
  &__labelDescription,
  &__labelSubmit,
  &__labelFile{

    &:hover{
      cursor: pointer;
    } 
  }

  &__inputText,
  &__consoleType,
  &__gameState,
  &__description{
    @include borderInput();
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
  }
  
  &__submit{
    @include btn($font-color, $bg-color);
    font-family: inherit;
    font-weight: 700;
    opacity: .8;

    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }

  &__success{
    @include showSuccessMessage();
  }

  @media(max-width:480px){
    padding: .2rem;
  }
}