@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.login{
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  &__backToMain{
    color: $font-color;
    opacity: .7;
    
    &:hover{
      opacity: 1;
    }
  }

  &__form{
    width: 30%;
    border: 2px solid $font-color;
    border-radius: 5px;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid grey;
    box-shadow: 0px 0px 10px rgb(102, 102, 102);

    @media (max-width:700px){
      width: 60%;
    }

    @media (max-width:400px){
      width: 80%;
    }
  }

  &__incorrectPassword{
    color: #e71111;
  }
  
  &__correctCredentials{
    color: #25dd1f;
  }

  &__userDoesNotExist{
    color: #f2ee11;
  }
  
  &__title{
    font-size: 2rem;
  }


  &__passwordInput,
  &__usernameInput{
    width: 80%;
    @include borderInput();
  }

  &__submit{
    @include btn($font-color, $bg-color);
    width: 20%;
    padding: .5rem;
    font-family: inherit;
    font-weight: 600;
    
    @media (max-width:1000px){
      width: 40%;
    }
  }

  &__createAccount{
    color: $links;
    align-self: flex-end;
    font-size: .9rem;
  }
}