@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.specificGame{
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  color: $font-color;

  &__h1{
    width: 85%;
    text-transform: uppercase;
    margin: 0 auto;
    border-bottom: 2px solid $font-color;
    text-align: center;
    font-size: 2.5rem;
    padding: .8rem;
  }
  
  &__game{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    padding: 1rem;

    @media(max-width: 1080px){
      width: 80%;
    }

    @media(max-width: 850px){
      gap: 1rem;
    }

    @media(max-width: 680px){
      display: grid;
      width: 100%;
      gap: 1rem;
    }
  }
  
  &__img{
    width: 50%;
    height: 300px;
    object-fit: contain;
    border-radius: 5px;

    @media(max-width: 680px){
      width: 100%;
    }
  }
  
  &__texts{
    width: 50%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    
    @media(max-width: 680px){
      width: 100%;
      align-items: center;
      gap: 1rem;
    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    padding: 1rem;
    margin-top: 1.7rem;
  }
  
  &__label{
    width: 60%;
    opacity: .5;    
    @media(max-width: 830px){
      width: 80%;
      font-size: 1.1rem;
    }
  }
  
  &__textArea{
    @include borderInput();
    width: 60%;
    height: 80px;
    
    @media(max-width: 830px){
      width: 80%;
      height: 180px;
    }
  }
  
  &__submit{
    @include btn($font-color, $bg-color);
    width: 10%;
    padding: .5rem;
    font-family: inherit;
    font-weight: 600;

    @media (max-width: 1080px){
      width: 20%;
    }
    
    @media(max-width: 830px){
      width: 80%;
    }
  }

  &__success{
    @include showSuccessMessage();
  }
}
  