@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.specificGame {
    width: 100%;
    min-height: 100vh;
    background-color: $bg-color;
    color: $font-color;

    &__h1 {
        width: 85%;
        text-transform: uppercase;
        margin: 0 auto;
        border-bottom: 2px solid $font-color;
        text-align: center;
        font-size: 2.5rem;
        padding: 0.8rem;
    }

    &__game {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 1.4rem;
        padding: 1rem;

        @media (max-width: 1080px) {
            width: 80%;
        }

        @media (max-width: 850px) {
            gap: 1rem;
        }

        @media (max-width: 680px) {
            display: grid;
            width: 100%;
            gap: 1rem;
        }
    }

    &__img {
        width: 50%;
        height: 300px;
        object-fit: contain;
        border-radius: 5px;

        @media (max-width: 680px) {
            width: 100%;
        }
    }

    &__texts {
        width: 50%;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;

        @media (max-width: 680px) {
            width: 100%;
            align-items: center;
            gap: 1rem;
        }
    }

    &__deletePostContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        // border: 2px solid red;
    }

    &__deletePost {
        @include btn(#f39c12, $bg-color);
        font-weight: 700;
        font-family: inherit;
        font-size: 1rem;
        transition: transform 300ms;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        padding: 1rem;
        margin-top: 1.7rem;
    }

    &__label {
        width: 60%;
        opacity: 0.5;
        @media (max-width: 830px) {
            width: 80%;
            font-size: 1.1rem;
        }
    }

    &__textArea {
        @include borderInput();
        width: 60%;
        height: 80px;

        @media (max-width: 830px) {
            width: 80%;
            height: 180px;
        }
    }

    &__submit {
        @include btnOutlined($font-color, $bg-color);
        margin-top: 1rem;
    }

    &__success {
        @include showSuccessMessage();
    }

    &__popUpContainer {
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $bg-color;
    }

    &__popUp {
        background-color: $font-color;
        padding: 2rem;
        border-radius: 5px;
    }

    &__popUpText {
        font-weight: 700;
    }

    &__popUpBtns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
    }

    &__popUpYes {
        @include btn($success, $bg-color);
        font-weight: 800;
    }

    &__popUpNo {
        @include btn($error, $bg-color);
        font-weight: 800;
    }
}
